@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Define custom fonts */
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/Roboto-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Set the default font for the entire app */
body {
  font-family: "Roboto", sans-serif;
}